.uppercase{
	text-transform: uppercase;
}

/* colors */
.pink{
	color: #FF00BF;
}

.dark-blue{
	color: #333447;
}
.blue{
	color: #352384;
}
.gray{
	color: #728099;
}
.purple{
	background: linear-gradient(#76278F, #2B1E66);
}

/* links */
.link{
  font-weight: 400;
  padding: 24px 16px;
  display: inline-block;
}
a{
  color: whitesmoke;
  text-decoration: none;
}

a:hover{
  color: #FF00BF;
}

/* Flex container */
.flex-container{
	display: flex;
}