body{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	margin: 0;
	padding: 0;
}

/* Header Section */

/* hidden - scroll event */
.nav-transparent{
	background-color: transparent;
}
.nav-transparent a{
	color: white;
}
.nav-transparent a:hover{
	color: #FF00BF;
}
.nav-white{
	background-color: white;
	color: #333447;
}

.hidden{
	visibility: hidden;
	display: none;
}

#pink-logo{
	top: 20px;
	z-index: 1;
	margin-right: auto;
	margin-left: 50px;
	cursor: pointer;
}

.pink-button{
	color: #FF00BF;
	border: 1px solid #FF00BF;
	border-radius: 10px;
	padding: 10px 16px;
	margin-left: 25px;
	margin-right: 50px;
}

.btn-margin{
	margin-right: 180px;
}

/* Navigation */
#navigation{
	font-size: 18px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	z-index: 100;
}

#navigation.flex-container{
	padding: 25px 30px;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

/* logo */
.logo{
	width: 60px;
	height: 45px;
	top: 20px;
	z-index: 1;
	margin-right: auto;
	margin-left: 50px;
	cursor: pointer;
}

/* log in button */
.white-button{
	border: 1px solid whitesmoke;
	border-radius: 10px;
	padding: 10px 16px;
	margin-left: 25px;
}

/* background video */
video {
    position: absolute;
    top: 40%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
}

/* form */
#form.flex-container{
	justify-content: flex-end;
	align-items: flex-start;
}

.driver-form{
	background-color: white;
	width: 30%;
	padding: 40px 70px;
	margin-top: 115px;
	margin-bottom: 2px;
	flex-direction: column;
	justify-content: flex-start;
	z-index: 1;
}

.text-form h1{
	font-size: 40px;
	margin-right: 60px;
	margin-bottom: 10px;
}

.text-form p{
	margin: 0;
	padding-bottom: 30px;
}

.data-form label{
	color: #bfc7d9;
	position: absolute;
	top: 330px;
}

.data-form .input-style{
	border: none;
	border-bottom: 1px solid #352384;
	width: 100%;
}

#sign.flex-container{
	justify-content: flex-start;
	align-items: center;
	margin-top: 20px;
}

#sign.flex-container a{
	text-decoration: underline;
	margin-right: auto;
	margin-left: 20px;
}

#drive{
	background-color: #FF00BF; 
	color: whitesmoke;
	font-size: 18px;
	border: none;
	border-radius: 10px;
	text-align: center;
	padding: 15px 25px;
}

/* Information Section*/
#information.flex-container{
	padding: 50px 160px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.inf-container{
	padding: 15px;
}

.img-container{
	padding: 15px;
}

.box-information{
	margin: 1.5rem 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.box-information h3{
	font-weight: 500;
	font-size: 1.75rem;
}

.box-information p{
	margin-top: 1rem;
}

/* Video Section */
#video.flex-container{
	margin: 0;
	flex-direction: column;
}

#video .flex-container{
	flex-direction: row;
}

#june.flex-container{
	flex-direction: row-reverse;
}

.box-video{
	height: 500px;
}

/* text container */
.box-video .text-container{
	margin: 1.5rem 1rem;
	padding: 0 1.5rem;
	flex: 0 0 30%; /* flex-grow: 0; flex-shrink:0; flex-basis: 30% */
}

.box-video .text-container h3{
	margin-top: 0;
	margin-bottom: 1rem;
	font-size: 1.75rem;
	font-weight: 500;
}

.box-video .text-container p:first-child{
	font-weight: 500;
	margin-top: 0;
	margin-bottom: .5rem;
}

.box-video .text-container p:last-child{
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	text-align: justify;
    text-justify: inter-word;
}

/* video container */
.box-video .video-container{
	padding-left: 0;
	padding-right: 0;
	flex: 0 0 64.1%; /* flex-grow: 0; flex-shrink:0; flex-basis: 70% */
}

.video-container iframe{
	border: none;
	width: 100%;
	height: 100%;
}

/* Footer */
#footer.flex-container{
	background-color: #333447;
	padding: 1.5rem 4.9375rem;
	flex-direction: column;
	align-items: center;
}

#footer a{
	color: white;
}
/* footer above */
.footer-above.flex-container{
	flex-direction: row;
}

.box-list{
	padding: 1rem 1.5rem;
}

.box-image{
	padding: 1rem 1.5rem;
	margin-left: 15rem;
}

.list a{
	font-weight: 300;
}

.list a h4{
	font-size: 1.2rem;
	font-weight: 500;
}

.list a h4:hover{
  color: #f3f3f5;
  text-decoration: underline;
}

.list img{
	justify-content: flex-end;
}

/* footer below */
.footer-below{
	text-align: center;
}

.box-list .list, .box-image .list, .social .list{
	padding: 1rem;
}

.social i{
	margin: 0 .5rem;
}

.inc{
	margin-left: 10rem;
	margin-right: 10rem;	
}

.inc .list{
	padding: .5rem;
}